/**
 *  ATTENDEES COMMENT DIALOG TEXTAREA component
 *
 *  styling for textarea
 *
 *    .attendees-comment-dialog-textarea
 *
 *  how to use
 *  ==========
 *
 *    .attendees-comment-dialog-textarea
 */


.attendees-comment-dialog-textarea {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid rgba(11, 48, 64, 0.1);
  color: inherit;
}
