/**
 *  POPOVER component
 *
 *  styling for custom popovers
 *
 *    .popover
 *      &__title
 *
 *  how to use
 *  ----------
 *
 *   .popover
 *    .popover__title
 *    (content)
 *
 */


.popover {
  @extend %card;
  width: 220px;
  background: white;
  padding: 16px;

  &__title {
    font-size: 12px;
    line-height: 16px;
    color: rgba($lms-color-dark, 0.5);
    margin-bottom: 16px;
  }
}
