<div class="layout-inline">
  <div class="layout-inline__item"
       *ngIf="data.isError">
    <div class="icon icon--alert-circle-outline icon--18px"></div>
  </div>

  <div class="layout-inline__item layout-inline__item--expand">
    <ng-container *ngIf="data.textTranslateKey">
      {{ data.textTranslateKey }}
    </ng-container>

    <ng-container *ngIf="!data.textTranslateKey && data.isError">
      Some thing went wrong. Try again later.
    </ng-container>
  </div>

  <div class="layout-inline__item">
    <button mat-icon-button
            lms-theme="light"
            (click)="close()">
      <div class="icon icon--close"></div>
    </button>
  </div>
</div>

