$lms-color-dark: #0B3040;
$lms-color-primary: #40A3DE;
$lms-color-warning: #F9A825;
$lms-color-danger: #E62F2B;
$lms-color-success: #76D649;

$lms-color-hover: #F6FAFD;

$lms-header-height: 54px;
$lms-page-header-height: 64px;

$lms-row-min-height: $lms-page-header-height;
$lms-row-tall-min-height: 80px;

$lms-item-max-width: 900px;
$lms-item-narrow-max-width: 720px;
$lms-item-wide-max-width: 1100px;
$lms-expanded-item-max-width: 940px;
$lms-expanded-item-narrow-max-width: 800px;

$lms-layout-spacing-options: 44px 24px 16px 12px 10px 6px 0px;

// TODO: everything below should be removed after refactoring

$primary-color: $lms-color-primary;

$light-base-color: #ffffff;
$dark-base-color: #000000;

$dark-color: #0B3040;

$text-color: $dark-color;
// $text-color-muted: mat-color($mat-grey, 500);
$text-color-muted: #9E9E9E;

$link-color: $primary-color;
$link-color-muted: $text-color-muted;

$bg-color: $light-base-color;

// $grey-light: mat-color($mat-grey, 100);
$grey-light: #F5F5F5;
// $grey-medium: mat-color($mat-grey, 300);
$grey-medium: #E0E0E0;

