$lms-form-field-default-theme: dark;
$lms-form-field-alternative-themes: light;

$lms-form-field-theme-colors: (
  light: white,
  dark: $lms-color-dark
);

$lms-form-field-theme-asterisk-colors: (
  light: white,
  dark: $lms-color-primary
);

$lms-form-field-theme-ripples: (
  light: white,
  dark: $lms-color-primary
);

$lms-form-field-theme-borders: (
  light: white,
  dark: $lms-color-dark
);


.mat-form-field {
  display: block !important;
  width: 100%;

  line-height: inherit !important;

  & > .mat-form-field-wrapper {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  &.mat-form-field-can-float > .mat-form-field-wrapper {
    padding-top: 16px;
  }
}


.mat-form-field-flex {
  display: flex !important;
  align-items: center !important;
  width: auto !important;
  line-height: 24px;
  font-size: 16px;
}


.mat-form-field-infix {
  padding: 4px 0;
  border-top: none;
  width: 100% !important;

  &:not(:first-child) {
    margin-left: 6px;
  }
}


.mat-form-field-prefix {
  display: flex;
  align-items: center;
}


.mat-form-field-suffix {
  display: flex;
  align-items: center;
  margin-left: 6px;
}


.mat-form-field-underline {
  position: relative !important;
  bottom: auto;
  margin-top: -1px;

  & .mat-form-field-ripple {
    top: -1px !important;
  }

  .mat-form-field[lms-no-underline] & {
    display: none !important;
  }
}


.mat-form-field-subscript-wrapper {
  position: static !important;
  font-size: 12px;
  line-height: 18px;
  margin-top: 0;
}


.mat-form-field-label-wrapper {
  display: block;
  padding-top: 0;
  top: 0;
  overflow: visible !important;
}


.mat-form-field-label {
  width: 100% !important;
  top: 0;
  height: 32px;
  line-height: 32px !important;
  font-size: 16px !important;

  transition: transform 0.2s,
              height 0.2s,
              line-height 0.2s,
              font-size 0.2s !important;
}


.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-16px);
  height: 16px;
  line-height: 16px !important;
  font-size: 12px !important;
}


.mat-form-field-hint-spacer {
  display: none;
}

.mat-form-field-disabled {
  cursor: not-allowed !important;
}


.mat-form-field-invalid {
  & .mat-form-field-ripple {
    background-color: $lms-color-danger;
  }

  & .mat-form-field-label,
  & .mat-form-field-required-marker {
    color: $lms-color-danger;
  }
}


// default theme:
.mat-form-field:not(.mat-form-field-invalid) {
  color: map-get($lms-form-field-theme-colors, $lms-form-field-default-theme);

  &:not(.mat-form-field-disabled) .mat-form-field-underline {
    background-color: rgba(map-get($lms-form-field-theme-borders, $lms-form-field-default-theme), 0.25);
  }

  &.mat-form-field-disabled .mat-form-field-underline {
    background-image: linear-gradient(
                        to right,
                        rgba(map-get($lms-form-field-theme-borders, $lms-form-field-default-theme), 0.5) 0%,
                        rgba(map-get($lms-form-field-theme-borders, $lms-form-field-default-theme), 0.5) 33%,
                        transparent 0%
                      );
  }

  & .mat-form-field-ripple {
    background-color: map-get($lms-form-field-theme-ripples, $lms-form-field-default-theme);
  }

  & .mat-form-field-label {
    color: rgba(map-get($lms-form-field-theme-colors, $lms-form-field-default-theme), 0.5);
  }

  & .mat-form-field-required-marker {
    color: map-get($lms-form-field-theme-asterisk-colors, $lms-form-field-default-theme);
  }
}

@each $theme-name in $lms-form-field-alternative-themes {
  .mat-form-field:not(.mat-form-field-invalid)[lms-theme="#{$theme-name}"] {
    color: map-get($lms-form-field-theme-colors, $theme-name);

    &:not(.mat-form-field-disabled) .mat-form-field-underline {
      background-color: rgba(map-get($lms-form-field-theme-borders, $theme-name), 0.25);
    }

    &.mat-form-field-disabled .mat-form-field-underline {
      background-image: linear-gradient(
                          to right,
                          rgba(map-get($lms-form-field-theme-borders, $theme-name), 0.5) 0%,
                          rgba(map-get($lms-form-field-theme-borders, $theme-name), 0.5) 33%,
                          transparent 0%
                        );
    }

    & .mat-form-field-ripple {
      background-color: map-get($lms-form-field-theme-ripples, $theme-name);
    }

    & .mat-form-field-label {
      color: rgba(map-get($lms-form-field-theme-colors, $theme-name), 0.5);
    }

    & .mat-form-field-required-marker {
      color: map-get($lms-form-field-theme-asterisk-colors, theme-name);
    }
  }
}
