@import '../../../node_modules/@angular/material/theming';

$lms-app-primary: mat-palette($mat-blue, 500);
$lms-app-accent: mat-palette($mat-blue, 500);
$lms-app-warn: mat-palette($mat-red, 500);

$lms-app-theme: mat-light-theme(
  $lms-app-primary,
  $lms-app-accent,
  $lms-app-warn
);

@include mat-core();
@include angular-material-theme($lms-app-theme);
