.mat-slide-toggle {
  display: block !important;
  height: 12px !important;
  line-height: 12px !important;

  & > .mat-slide-toggle-label {
    display: block !important;

    & > .mat-slide-toggle-content {
      display: none;
    }
  }
}

.mat-slide-toggle:not(.mat-disabled) {
  &:not(.mat-checked) .mat-slide-toggle-bar {
    background-color: rgba($lms-color-dark, 0.38) !important;
  }

  &.mat-checked {
    & .mat-slide-toggle-bar {
      background-color: rgba($lms-color-primary, 0.38) !important;
    }

    & .mat-slide-toggle-thumb {
      background-color: $lms-color-primary !important;
    }
  }
}

.mat-slide-toggle.mat-disabled {
  & .mat-slide-toggle-thumb-container {
    border-radius: 50%;
    background: white;
  }

  & .mat-slide-toggle-bar {
    cursor: not-allowed !important;
    background-color: rgba($lms-color-dark, 0.1) !important;
  }

  & .mat-slide-toggle-thumb {
    cursor: not-allowed !important;
    background-color: rgba($lms-color-dark, 0.38) !important;
  }
}


