$lms-raised-button-default-theme: primary;
$lms-raised-button-alternative-themes: light danger success;
$lms-raised-button-theme-colors: (
  light: $lms-color-primary,
  primary: white,
  danger: white,
  success: white
);
$lms-raised-button-theme-backgrounds: (
  light: white,
  primary: $lms-color-primary,
  danger: $lms-color-danger,
  success: $lms-color-success
);
$lms-raised-button-theme-overlays: (
  light: $lms-color-dark,
  primary: white,
  danger: white,
  success: white
);


.mat-raised-button {
  display: block !important;
  height: 36px;

  font-weight: 500;
  text-transform: uppercase;

  box-shadow: 0px 3px 1px -2px rgba($lms-color-dark, 0.2),
              0px 2px 2px 0px rgba($lms-color-dark, 0.14),
              0px 1px 5px 0px rgba($lms-color-dark, 0.12) !important;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    box-shadow: 0px 2px 4px -1px rgba($lms-color-dark, 0.2),
                0px 4px 5px 0px rgba($lms-color-dark, 0.14),
                0px 1px 10px 0px rgba($lms-color-dark, 0.12) !important;
  }

  &:not(:disabled):active {
    box-shadow: 0px 5px 5px -3px rgba($lms-color-dark, 0.2),
                0px 8px 10px 1px rgba($lms-color-dark, 0.14),
                0px 3px 14px 2px rgba($lms-color-dark, 0.12) !important;
  }

  & > .mat-button-wrapper {
    @extend %layout-inline;
    justify-content: center !important;
  }

  &[lms-full-width] {
    width: 100%;
  }

  // default theme

  &:not(:disabled) {
    color: map-get($lms-raised-button-theme-colors, $lms-raised-button-default-theme) !important;
    background-color: map-get($lms-raised-button-theme-backgrounds, $lms-raised-button-default-theme) !important;
  }

  &:disabled {
    color: map-get($lms-raised-button-theme-colors, $lms-raised-button-default-theme) !important;
    background-color: rgba(map-get($lms-raised-button-theme-backgrounds, $lms-raised-button-default-theme), 0.4) !important;
    box-shadow: none !important;
  }

  &:not(:disabled) > .mat-button-focus-overlay {
    background-color: rgba(map-get($lms-raised-button-theme-overlays, $lms-raised-button-default-theme), 0.12) !important;
  }

  &:not(:disabled) .mat-ripple-element {
    background-color: rgba(map-get($lms-raised-button-theme-overlays, $lms-raised-button-default-theme), 0.2) !important;
  }
}
  @each $theme-name in $lms-raised-button-alternative-themes {
    .mat-raised-button[lms-theme="#{$theme-name}"] {
      &:not(:disabled) {
        color: map-get($lms-raised-button-theme-colors, $theme-name) !important;
        background-color: map-get($lms-raised-button-theme-backgrounds, $theme-name) !important;
      }

      &:disabled {
        color: map-get($lms-raised-button-theme-colors, $theme-name) !important;
        background-color: rgba(map-get($lms-raised-button-theme-backgrounds, $theme-name), 0.4) !important;
        box-shadow: none !important;
      }

      &:not(:disabled) > .mat-button-focus-overlay {
        background-color: rgba(map-get($lms-raised-button-theme-overlays, $theme-name), 0.12) !important;
      }

      &:not(:disabled) .mat-ripple-element {
        background-color: rgba(map-get($lms-raised-button-theme-overlays, $theme-name), 0.2) !important;
      }
    }
  }
