<lms-page-list>
  <lms-page-list-header [hasSecondLevelHeader]="true"
                        [isSecondLevelHeaderCollapsed]="true">

    <ng-container firstHeader>
      <div class="app-content-page-header__title">
        Outside click performance test
      </div>
    </ng-container>

    <ng-container secondHeader>
      <nav mat-tab-nav-bar>
        <a mat-tab-link
           routerLink="service"
           routerLinkActive="mat-tab-link--active"
           #serviceRla="routerLinkActive"
           [active]="serviceRla.isActive">
          Service using angular listener
        </a>

        <a mat-tab-link
           routerLink="event-listener"
           routerLinkActive="mat-tab-link--active"
           #eventListenerRla="routerLinkActive"
           [active]="eventListenerRla.isActive">
          Native event listener
        </a>

        <a mat-tab-link
           routerLink="directive"
           routerLinkActive="mat-tab-link--active"
           #hostListenerRla="routerLinkActive"
           [active]="hostListenerRla.isActive">
          HostListener directive
        </a>
      </nav>
    </ng-container>

    <ng-container actions>
      <div class="layout-inline__item">
        <mat-form-field>
          <mat-label>
            Elements quantity
          </mat-label>
          <input type="text"
                 maxlength="7"
                 matInput
                 placeholder="0"
                 (input)="updateDropDownsQuantity($event.target.value)"
                 [value]="dropDownsQuantity">
        </mat-form-field>
      </div>
    </ng-container>
  </lms-page-list-header>

  <router-outlet></router-outlet>
</lms-page-list>
