<div class="container">

  <span>
    DropDown quantity
  </span>
  <input type="number"
         class="number-input"
         min="0"
         max="9999"
         step="1"
         (input)="updateDropDownsQuantity($event.target.value)"
         [value]="dropDownsQuantity">

</div>

<div class="container">

  <button (click)="showServiceDropDown()">
    Use service
  </button>
  <button (click)="showEventListenerDropDown()">
    Use event listener
  </button>
  <button (click)="showDirectiveDropDown()">
    Use directive
  </button>

</div>

<div *ngIf="serviceDropDownIsShown">
  <h2>
    Now we use
    <span class="attention">
    service
  </span>
  </h2>
  <app-drop-down-service *ngFor="let dropDown of manyDropDowns">
  </app-drop-down-service>
</div>

<div *ngIf="eventListenerDropDownIsShown">
  <h2>
    Now we use
    <span class="attention">
    event listener
  </span>
  </h2>
  <app-drop-down-event-listener *ngFor="let dropDown of manyDropDowns">
  </app-drop-down-event-listener>
</div>

<div *ngIf="directiveDropDownIsShown">
  <h2>
    Now we use
    <span class="attention">
    directive
  </span>
  </h2>
  <app-drop-down-directive *ngFor="let dropDown of manyDropDowns">
  </app-drop-down-directive>
</div>
